* {
  box-sizing: border-box;
}
li {
  height: 60px;
}
.info {
  padding: 5px;
}

.editer {
  background-color: green;
  max-width: 50px;
  padding: 2px;
  color: white;
  font-size: 1em;
  margin: 0 2px;
  border-radius: 10px;
}
.del {
  background-color: red;
  max-width: 50px;
  padding: 2px;
  color: white;
  font-size: 1em;
  margin: 0 2px;
  border-radius: 10px;
}
.status {
  background-color: blue;
  max-width: 50px;
  padding: 2px;
  color: white;
  font-size: 1em;
  margin: 0 2px;
  border-radius: 10px;
}
